*pycache*
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/clean/*
!data/clean/.gitkeep
data/tokenized/*
!data/tokenized/.gitkeep
checkpoints/*
!checkpoints/demo.ckpt
fable/checkpoints/*
!fable/checkpoints/__init__.py
!fable/checkpoints/demo.ckpt/
!fable/checkpoints/demo.ckpt/**
*.ipynb
!/notebooks/*.ipynb
todo.md
fable.egg-info
